################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PocEasyFreeSSLSite/FileContentIndex
/EasyFreeSSLSite/bin/Debug/net6.0
/EasyFreeSSLSite/bin/Release/net6.0
/EasyFreeSSLSite/obj
/.vs/PocEasyFreeSSLSite/DesignTimeBuild
/.vs/PocEasyFreeSSLSite/config
/.vs/PocEasyFreeSSLSite/v17
/.vs/ProjectEvaluation
/Packages
/Published
/OctopusUploadPackage.ps1
/OctopusCreateNewRelease.ps1
/BuildAndCreatePackage.ps1
