<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<rewrite xdt:Transform="Replace">
			<rules>
				<rule name="Redirect to main domain" enabled="#{RedirectMainDomainEnabled}">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" negate="true" pattern="#{MainDomain}" />
					</conditions>
					<action type="Redirect" url="http://#{MainDomain}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
				<rule name="HTTPS Force" stopProcessing="true" enabled="#{HttpsForceEnabled}">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>