@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0&appId=803298688011259&autoLogAppEvents=1" nonce="Fs2pCDb7"></script>

<div class="container">
    <div class="fb-comments" data-href="@ViewData["CurrentUrl"]" data-width="" data-numposts="5"></div>
</div>